html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/


/* GLOBAL STYLES */

h1 {
  font-size: 4vw;
  margin-top: 0;
  text-align: center;
}

ul {
  text-decoration: none;
}


/* NAV LINK STYLES */

.header-nav {
  float: right;
  margin-right: 45%;
}

.header-nav > li {
  display: inline-block;
  margin-left: 0.5em;
}

.header-nav a {
  text-decoration: none;
}

/* BODY STYLES */

.hotkeys {
  margin-left: 25px;
}

.classification {
  font-size: 2rem;
}

.hotkeys > ul {
  list-style-type: none;
  margin-bottom: 25px;
}

/* IMAGE STYLES */

.zoomed-out {
  margin: 5em 25vw auto;
}

/* .zoomed-in {
  display: inline-block;
  float: right;
} */

/* CHECKBOX STYLES */

.check-boxes {
  margin-left: 50px;
  margin-bottom: 50px;
  list-style-type: none;
}

.check-boxes > li {
  display: inline-block;
  padding-left: 0.5em;
}